

.main-iframe {
  height: 500px;
  max-height: 500px;
  max-width: 400px;
  overflow: hidden;
}

.app-root-body {
  background-image: url(./Assets/SVG_Files/background-illustration.svg);
  background-repeat: no-repeat;
  background-size: 1440px 263px;
  background-position: center bottom;
  height: 100%;
  min-height: 100vh;
  background-color: #ffffff;
  overflow: auto;
}

.app-root-body-articles {
  height: 100%;
  min-height: 100vh;
  background-color: #ffffff;
  overflow: scroll;
}
 