

.main-iframe {
  height: 500px;
  max-height: 500px;
  max-width: 400px;
  overflow: hidden;
}

.app-root-body {
  background-image: url(./Assets/SVG_Files/background-illustration.svg);
  background-repeat: no-repeat;
  background-size: 1440px 263px;
  background-position: center bottom;
  height: 100%;
  min-height: 100vh;
  background-color: #ffffff;
  overflow: auto;
}

.app-root-body-articles {
  height: 100%;
  min-height: 100vh;
  background-color: #ffffff;
  overflow: scroll;
}
 
.main-container {
  max-height: 100%;
  overflow: scroll;
  padding: 1em 0.1em;
  margin-top: 1em;
  width: auto!important;
  margin-left: 1em !important;
  margin-right: 1em !important;
  border-radius: .28571429rem!important;
  display: block;
  max-width: 100%!important;
}

@media only screen and (min-width: 768px) {
  .main-container {
    padding-top: 0em !important;
  }
}
