::-webkit-scrollbar {display:none;}


* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

#eznft-container-body {
  background-color: #E9EDF3 !important;
  overflow: hidden;
}
